<script id="login-template" type="text/template">
    <header class="dialog-header">
      <h1>Numbers Up 2</h1>
    </header>
    <div class="dialog-content">
      <p>A JavaScript-based interactive number-guessing game made with Backbone.js, RequireJS and Node.js.</p>
      <div class="buttons">
        <a href="#sign-in" class="button button-blue">Sign In</a>
      </div>
    </div>
    <footer class="dialog-footer">
      <p><small>Authentication courtesy of the <a href="https://developer.linkedin.com/javascript" target="_blank">LinkedIn JavaScript API</a>.</small></p>
    </footer>
</script>