<script id="settings-template" type="text/template">
    <header class="dialog-header">
      <h1>Settings</h1>
    </header>
    <div class="dialog-content">
      <form id="settings-form">
        <fieldset>
          <legend>Number of Guesses</legend>
          <div id="skill-levels-container">
          </div>
        </fieldset>
      </form>
    </div>
    <footer class="dialog-footer">
      <div class="buttons">
        <a href="#splash" class="button button-green">OK</a>
        <a href="#splash" class="button button-red">Cancel</a>
      </div>
    </footer>
</script>