<script id="splash-template" type="text/template">
    <header class="dialog-header">
      <h1>Numbers Up</h1>
    </header>
    <div class="dialog-content">
      <ul class="margin-left-0 padding-left-4 spaced-2">
        <li>Guess the secret number before you run out of guesses.</li>
        <li>The secret number changes from game to game.</li>
        <li>Gauge the accuracy of your guesses with the low/high indicator.</li>
        <li>Customize the number of guesses per game you're allowed.</li>
        <li>Limitless replays: Play until your number's up!</li>
        <!-- <li>Top 10 scores saved to leaderboard: How do you stack up?</li> -->
      </ul>
    </div>
    <footer class="dialog-footer">
      <div class="buttons">
        <a href="#play" class="button button-green">Play</a>
        <a href="#settings" class="button button-yellow">Settings</a>
        <!-- <a href="#profile" class="button button-blue">Profile</a> -->
      </div>
    </footer>
</script>