<script id="top-scores-template" type="text/template">
    <header class="dialog-header">
      <h1>Top Scores</h1>
    </header>
    <div class="dialog-content">
      <table cellspacing="0" id="leaderboard-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Guesses<br>
            Allowed</th>
            <th>Guesses<br>
            Made</th>
          </tr>
        </thead>
        <tbody>
          <!-- top scores -->
        </tbody>
      </table>
    </div>
    <footer class="dialog-footer">
      <div class="buttons">
          <a href="#result" class="button button-red">Exit</a>
      </div>
    </footer>
</script>